/* Portfolido Color Pallete  */
/* https://coolors.co/b1740f-ffd07b-fdb833-296eb4-1789fc */

* {
	margin: 0; 
	box-sizing: border-box;
	font-family: 'Poiret One';
}

a {
	text-decoration: none; 
	color: inherit;
}
a:visited {
	color: inherit; 
}

.mainContainer {
	width: 300px;
	height: 400px;
	background: white;
	border: 1px solid rgb(88,176,236);
	box-shadow: 5px 5px 15px;
	position: absolute;
	top: 20%;
	left: 50%;
	text-align: center;
	transition: 1s all ease;
/*	-webkit-transform: translateX(-50%);*/
/*	transform-style: preserve-3d;*/
}
.mainImageContainer {
	width: 200px;
	height: 200px;
	background: gray;
	border-radius: 50%;
	margin: 7% auto;
	border: 1px solid black;
	overflow: hidden;
}

.profilePicture {
	width: 100%;
	height: 100%;
}
.projectName {
	color: rgb(88,176,236);
	font-size: 18px;
	margin: 3%;
}
.projectSummary {
	color: rgba(0,0,0,.8);
	font-size: 14px;
	margin: 3%;
}
.links {
	border: 1px solid rgb(88,176,236);
	border-radius: 50px;
	padding: 2% 10%;
	color: gray;
	background: transparent;
	margin: 3%;
	box-shadow: 3px 3px 5px;
	font-size: 1em;
}
.links:hover {
	cursor: pointer;
}
#previous:hover {
	cursor: pointer;
}
#next:hover {
	cursor: pointer;	
}
.iconLink {
	width: 10%;
	margin: auto 5%;
	opacity: .7;
}
.iconLink:hover {
	cursor: pointer;
	opacity: 1;
}
.navArrowsContainer {
	margin: auto;
}
.navigationArrow {
	width: 10%;
	margin: auto 15%;
}
.navigationArrow:hover {
	cursor: pointer;
}
/*Second Project View*/
.githubProject {
	font-size: 1em;
	display: block;
	margin: 2% auto;
    color: white;
    padding: 3%;
    background: transparent;
    border: 1px solid white;
}
#goto {
	color: white;
}
.githubProject:hover {
	cursor: pointer;
}

.secondContainer {
	width: 300px;
	height: 400px;
	background: #889099;
	border: 1px solid rgb(88,176,236);
	box-shadow: 5px 5px 15px;
	margin: 10% auto;
	text-align: center;
	transition: .5s transform ease;
	transform-style: preserve-3d;
}

/*Project Detail View*/
.projectImagesContainer {
	width: 50%;
	height: 100vh;
	display: inline-block;
	top: 0;
    position: absolute;
    background: rgb(41,110,180);
    overflow: hidden;
}
.projectImage {
	width: 100%;
	height: 100vh;
}
.projectDetailsContainer {
	width: 50%;
	height: 100vh;
	display: inline-block;
	text-align: center;
	padding: 1%;
	top: 0;
	left: 50%;
    position: absolute;
    background: rgb(41,110,180);
}
.projectDescription {
	font-size: 2em;
	margin: 10% auto;
	color: white;
}
.overview {
	font-size: 3em;
	margin: 10% auto;
	color: white;
}
.projectDetailOverview {
	font-size: 1em;
	margin: 10% auto;
	color: white;
	width: 80%;
}
.arrow {
	width: 5%;
	height: 5%;
	margin: 0 15%;
}
.homeArrowContainer {
	width: 12%;
	height: 12%;
	margin: 0 44%;
	position: absolute;
    top: 92%;
}
.homeArrow {
	width: 100%;
}

/* Side Menu Path */
.sidePathContainer {
	width: .1em;
	height: 63vh;
	background: white;
	position: absolute;
	top: 20%;
	right: 5%;
}

.sideMenuItem {
  	position: absolute;
    margin-left: -300%;
    background: white;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: none;
}
#home {
	top: 0;
}
#bloggingLarge {
	top: 20%;
}
#myCompanionDx {
	top: 39%;
}
#weatherOrNot {
	top: 58%;
}
#toDoList {
	top: 79%;
}
#fencing {
	top: 99%;
}
.sideMenuItem:hover {
	cursor: pointer;
	background: rgb(88,176,236);
}
.currentViewContainer {
	width: 10em;
	background: white;
	text-align: center;
	border-radius: 10px;
	position: absolute;
	top: -2%;
	right: 1500%;
	padding: 5px;
	transition: 1s all ease;
}
.currentView {
	font-size: 1em;
	color: gray;
}
.triangleSelector {
	width: 0;
	height: 0;
	border-top: .75em solid transparent;
	border-bottom: .75em solid transparent;
	border-left: .75em solid white;
	position: absolute;
	top: -1.5px;
    right: -7%;
	margin: 2%;
}
.emailContainer {
	width: 50px;
	height: 50px;
	position: absolute;
    top: 110%;
    right: -25px;
    opacity: .7;
}
.emailContainer img {
	width: 100%;
    border: .5px solid white;
    border-radius: 100%;
    padding: 20%;
}
.emailContainer:hover {
	opacity: 1;
}

/* About me page */
.aboutMeContainer {
	color: white;
    text-align: center;
    margin-top: 20%;
}
.aboutMeContainer > * {
	margin: 1.5% auto;
}
.aboutMeContainer > h1 {
	font-size: 2em;
}
.aboutMeContainer > .aboutMeUl {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
	list-style-type: none;
}

/* Ipad */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
	body {
		background: rgb(41,110,180);
	}
	.mainContainer {
	width: 40%;
    height: 40%;
	background: white;
	border: 1px solid rgb(88,176,236);
	box-shadow: 5px 5px 15px;
	position: absolute;
	top: 20%;
	left: 50%;
	text-align: center;
	transition: 1s all ease;
/*	-webkit-transform: translateX(-50%);*/
/*	transform-style: preserve-3d;*/
	}
	.projectName {
		font-size: 2em;
	}
	.projectSummary {
		color: rgba(0,0,0,.8);
		font-size: 1.5em;
	}
	.iconLink {
		width: 13%;
	}
	.iconsContainer {
		margin: 6% auto;
	}
	.emailContainer {
		width: 5em;
	}
	.sideMenuItem {
	    width: 15px;
	    height: 15px;
	    padding: 0;
	}
	.projectImagesContainer {
		width: 100%;
		height: 50vh;
		display: block;
		top: 0;
	    position: absolute;
	    background: rgb(41,110,180);
	    overflow: hidden;
	}
	.projectDetailsContainer {
		width: 100%;
		height: 50vh;
		display: block;
		text-align: center;
		padding: 1%;
		top: 50%;
		left: 0;
	    position: absolute;
	    background: rgb(41,110,180);
	}
	
	.projectDescription {
		font-size: 2em;
		margin: auto;
	}
	.overview {
		margin: 1% auto;
		font-size: 1.5em;
	}
	.projectDetailOverview {
		font-size: 1.25em;
		margin: 2% auto;
	}
	#goto {
		font-size: 2em;
	}
	.githubProject {
		font-size: 2em;
		padding: 2%;
	}
	.aboutMeContainer {
	    margin-top: 10%;
	}
	.aboutMeContainer > * {
		margin: .5% auto;
	}
	.aboutMeContainer > p {
		font-size: 1.5em;
	}
	.aboutMeContainer > h2 {
		font-size: 2em;
	}
	.aboutMeContainer > .aboutMeUl {
		font-size: 1.5em;
	}
}
/* Iphone */
@media screen and (max-device-width: 480px) {
	body {
		background: rgb(41,110,180);
	}
	.mainContainer {
	width: 55%;
    height: 50%;
	background: white;
	border: 1px solid rgb(88,176,236);
	box-shadow: 5px 5px 15px;
	position: absolute;
	top: 20%;
	left: 50%;
	text-align: center;
	transition: 1s all ease;
/*	-webkit-transform: translateX(-50%);*/
/*	transform-style: preserve-3d;*/
	}
	.mainImageContainer {
		width: 50%;
		height: 40%;
	}
	.projectName {
		font-size: 2.5em;
	}
	.projectSummary {
		color: rgba(0,0,0,.8);
		font-size: 2em;
	}
	.links {
		font-size: 2em;
	}
	.iconLink {
		width: 13%;
	}
	.iconsContainer {
		margin: 8% auto;
	}
	.navArrowsContainer {
		margin: 8% auto;
	}
	.emailContainer {
		width: 5em;
	}
	.sideMenuItem {
	    width: 15px;
	    height: 15px;
	    padding: 0;
	}
	.currentViewContainer {
		width: 8em;
	}
	.projectImagesContainer {
		width: 100%;
		height: 40vh;
		display: block;
		top: 0;
	    position: absolute;
	    background: rgb(41,110,180);
	    overflow: hidden;
	}
	.projectDetailsContainer {
		width: 100%;
		height: 60vh;
		display: block;
		text-align: center;
		padding: 1%;
		top: 45%;
		left: 0;
	    position: absolute;
	    background: rgb(41,110,180);
	}
	.projectDescription {
		font-size: 3.5em;
		margin: auto;
	}
	.overview {
		margin: 5% auto;
		font-size: 3em;
	}
	.projectDetailOverview {
		font-size: 2.5em;
	}
	#goto {
		font-size: 2em;
	}
	.githubProject {
		font-size: 2em;
	}
	.aboutMeContainer {
	    margin-top: 10%;
	}
	.aboutMeContainer > * {
		margin: .5% auto;
	}
	.aboutMeContainer > p {
		font-size: 1.5em;
	}
	.aboutMeContainer > h2 {
		font-size: 2em;
	}
	.aboutMeContainer > .aboutMeUl {
		font-size: 1.5em;
	}

}

